@import "tailwindcss";

:root {
  --color-primary: #FFFFFF;
  --color-secondary: #A1A1AA;
  --color-accent: #FFFFFF;

  --color-bg-light: #000000;
  --color-bg-dark: #000000;
  --color-bg-muted: #09090B;

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #A1A1AA;
  --color-text-muted: #52525B;
  --color-text-inverse: #000000;

  --font-display: 'Syne', sans-serif;
  --font-body: 'Poppins', sans-serif;
  --font-mono: 'Alegreya Sans SC', sans-serif;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-bg-light: var(--color-bg-light);
  --color-bg-dark: var(--color-bg-dark);
  --color-bg-muted: var(--color-bg-muted);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-muted: var(--color-text-muted);
  --color-text-inverse: var(--color-text-inverse);
  --font-display: var(--font-display);
  --font-body: var(--font-body);
  --font-mono: var(--font-mono);
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #FFFFFF;
}
